
@import "../minecraft-items/minecraft-items-spritesheet.css";

.tippy-box[data-theme='default'] {
  background-color: #181825;
  color: #bac2de;
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 8px;
  padding: 0.5rem;
  word-wrap: break-word;
}