---
import Layout from '../layouts/Layout.astro';
import { POST as exchangeCode } from './api/exchange-code';

const searchParams = new URLSearchParams(Astro.url.search);
const code = searchParams.get('code');
let userData = null;

if (code) {
  const response = await exchangeCode({
    //@ts-ignore
    request: {
      json: async () => ({ code })
    }
  });
  const tokenData = await response.json();
  const accessToken = tokenData.access_token;

  const userResponse = await fetch(`https://discord.com/api/users/@me`, {
    headers: { 'Authorization': `Bearer ${accessToken}` }
  });

  userData = await userResponse.json();
}

const image = {
  url: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
  alt: "DivNectar Logo",
};
export const prerender = false;
---

<Layout title="DivNectar - Auth" description="Login with Discord" image={image}>
  <div class="flex flex-col items-center">
    <h1 class="text-4xl font-bold">Auth</h1>
    <p class="text-lg">This is the auth page.</p>
  </div>
</Layout>

<!-- Load moment.js from CDN -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>

<script>
  const userData = JSON.parse(`{JSON.stringify(userData)}`);
  window.localStorage.setItem('discord_user', JSON.stringify(userData));
  window.localStorage.setItem('expires', moment().add(2, 'days').format());
  window.location.href = window.localStorage.getItem('afterLogin') || '/';
</script>