---
import Layout from "../layouts/Layout.astro";

const title = "DivNectar";
const description = 'DivNectar - FOSS software and the Minecrafts.'
const image = {
	url: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
	alt: "DivNectar Logo",
}

---

<Layout title={title} description={description} image={image}>
	<p>
		Class tellus est aenean. Platea pretium faucibus malesuada rhoncus ac.
		Viverra vehicula vulputate condimentum augue velit. Malesuada imperdiet
		magnis duis. Est fringilla venenatis nibh in, nec vulputate sem lacus?
		Malesuada libero aliquam fusce faucibus! Ridiculus cursus purus vehicula
		sapien tempor. Taciti dictumst, laoreet blandit facilisi. Himenaeos
		pretium, adipiscing maecenas fermentum. Etiam sit suspendisse fusce
		proin suspendisse massa feugiat justo ullamcorper phasellus. Platea
		pharetra aliquet pharetra parturient. Ipsum hac nulla felis litora
		pharetra lorem posuere. Aptent tempor penatibus lorem penatibus potenti
		varius habitasse fames ut luctus. A purus erat praesent facilisis class
		dapibus dictum pulvinar ultrices ornare faucibus. Dui venenatis
		habitasse cursus tristique lacus sem eros, lectus dictum mollis vitae
		mi. Erat fermentum vivamus mattis condimentum litora enim. Nisi cras,
		viverra inceptos egestas torquent auctor augue mi.
	</p>
	<p>
		Quisque ornare nullam tempus velit venenatis ligula suscipit iaculis
		lobortis cursus laoreet. Potenti neque mattis lobortis neque parturient.
		Praesent amet erat sodales interdum eros inceptos dis varius, mattis
		viverra fermentum. Nibh luctus hendrerit malesuada; hendrerit proin! Ad
		bibendum senectus facilisis id pulvinar malesuada magna. Tempus eget
		platea lectus cras ridiculus. Enim sociosqu in duis nisi luctus neque
		netus molestie integer. Lacus in eleifend sollicitudin lobortis?
	</p>
	<p>
		Fringilla dictum pulvinar auctor. Accumsan ultrices justo egestas.
		Sociis fusce, consectetur nam lacinia litora dictum facilisi quis
		habitant. Tincidunt in mus consectetur senectus etiam eu interdum cursus
		ultrices? Dictum netus blandit ut urna fringilla consequat rutrum
		rhoncus etiam potenti penatibus tellus. Lectus taciti quisque dis
		aliquam ornare auctor class leo orci sollicitudin curabitur lobortis.
		Netus cursus netus porta pretium felis ridiculus dignissim nibh quisque.
		Quisque lacus auctor mi faucibus adipiscing platea nam molestie class.
		Porttitor urna scelerisque curabitur euismod convallis viverra curae;.
		Aptent cursus at in nostra sed dapibus mi suscipit elit curabitur?
		Eleifend eget curabitur penatibus congue. Cras per.
	</p>
	<p>
		Sem sit aptent morbi pretium, fames duis vitae praesent. Aliquet ornare
		quis venenatis leo vel curae; enim neque. Imperdiet blandit amet
		posuere, lectus bibendum. Sodales tincidunt eu fringilla dictumst magna
		litora montes proin gravida hac arcu netus. Montes facilisis dictum
		turpis ut rutrum vivamus aptent sociosqu ultrices. Massa nibh pretium
		dapibus, donec tristique sed justo sodales duis? Lobortis sapien, velit
		imperdiet aliquet felis ad phasellus conubia justo! Nostra senectus.
	</p>
	<p>
		Dignissim cursus et porta curabitur nam fermentum nisl porta vulputate,
		accumsan eros. Senectus nisi ad sit placerat egestas tempus. Sociosqu
		laoreet elementum dui placerat leo id fermentum. Primis suspendisse leo;
		pellentesque neque arcu faucibus nisl. Nam semper ante ligula eleifend
		mus dictum conubia pulvinar sapien rutrum tortor volutpat. Sed montes
		consequat auctor suspendisse. Ipsum natoque ultrices, auctor iaculis
		massa auctor habitasse. Sit tellus a magnis sollicitudin suscipit magna
		mus cum porta augue. Fermentum cras eu mattis erat lacinia. Pharetra
		consequat feugiat cursus felis enim. Taciti conubia donec lorem felis
		nascetur nam consectetur est elementum pellentesque vitae aenean.
		Conubia odio dolor fringilla sapien tempor odio proin luctus elit
		conubia! Sagittis vehicula posuere nulla aliquam, lobortis viverra
		tincidunt praesent justo dui pellentesque. Egestas neque nisl mollis
		laoreet tempus nascetur, ultricies habitasse commodo? In diam etiam
		dolor tortor fermentum.
	</p>
</Layout>
