---
import Layout from "../layouts/Layout.astro";

const title = "DivNectar";
const description = 'DivNectar - FOSS software and the Minecrafts.'
const image = {
	url: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
	alt: "DivNectar Logo",
}

---

<Layout title={title} description={description} image={image}>
	<p>Welcome to my dingy little corner of the internet. You've stumbled upon an odd place...you see, I'm not really a developer.
		I'm not qualified to do anything that I do here. I, my friend, am just a professional piddler. I see code, I change code, I break and 
		I fix code. It's my addiction and I love it, and I will never stop.
	</p>
</Layout>
