---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";

const title = "DivNectar";
const description = "Kickass Hybrid Minecraft Server";
const image = {
  url: "https://cms.divnectar.com/uploads/cn_logo_24823a2bf0.png",
  alt: "CraftNectar Logo",
};
---

<Layout title={title} direction="col" description={description} image={image}>
  <div class="text-white">
    <section class="">
      <div class="py-8 px-4 mx-auto text-center lg:py-16 lg:px-12">
        <a
          href="/minecraft/players"
          class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-ctp-subtext1 bg-ctp-crust rounded-full hover:bg-ctp-mantle"
          role="alert"
        >
          <span
            class="text-xs bg-ctp-mauve rounded-full text-white px-4 py-1.5 mr-3"
            >New!</span
          >
          <span class="text-sm font-medium">Check the player glossary</span>
          <svg
            class="ml-2 w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path></svg
          >
        </a>
        <a
          href="https://cms.divnectar.com/uploads/Sew_Craft_1_0_0_d63135167a.zip"
          class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-ctp-subtext1 bg-ctp-crust rounded-full hover:bg-ctp-mantle"
          role="alert"
        >
          <span
            class="text-xs bg-ctp-mauve rounded-full text-white px-4 py-1.5 mr-3"
            >New!</span
          >
          <span class="text-sm font-medium"
            >Download offical client modpack</span
          >
          <svg
            class="ml-2 w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path></svg
          >
        </a>
        <div class="flex w-full justify-center">
          <h1
            class="mb-4 mcfont text-4xl font-extrabold filter-none leading-none text-ctp-peach md:text-5xl lg:text-6xl"
          >
            Sew Craft
          </h1>
        </div>
        <p class="prose-catpuccin mb-6 text-xl">
          SewCraft is a tech-focused modpack. It mainly focuses on Create 6
          +compat mods, ComputerCraft +compat mods, FarmerDelight +addons, and
          other tech and QOL mods. This is a server for tinkerers like me.
          Almost every mod added is compatible with Create in some fashion. This
          is a hybrid Arclight server, only featuring plugins for useful server
          commands, moderation, chat formatting, and discord integration.
        </p>
        <div
          class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
        >
          <a
            href="https://info.divnectar.com/books/sewcraft"
            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg hover:scale-110 hover:bg-ctp-mantle transition-all duration-100"
            data-umami-event="outbound-link-click"
            data-umami-event-url="https://info.divnectar.com/books/sewcraft"
          >
            Visit Wiki
            <Icon
              name="line-md:question-square-twotone"
              class="w-6 h-6 text-ctp-yellow ml-2"
            />
            <Icon
              name="line-md:arrow-right"
              class="w-6 h-6 text-ctp-text ml-2"
            />
          </a>
          <a
            href="/discord"
            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-ctp-text rounded-lg border focus:ring-4 border-gray-700 hover:bg-gray-700 focus:ring-gray-800"
            data-umami-event="join-discord-click"
          >
            <Icon
              name="line-md:discord-twotone"
              class="w-6 h-6 text-ctp-mauve mr-2"
            />
            Join Discord
          </a>
        </div>
      </div>
    </section>
    <section class="page-divider-wavy bg-ctp-crust">
      <div
        class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36"
      >
        <span class="font-semibold text-4xl text-gray-400 uppercase"
          >FEATURES</span
        >
      </div>
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div
          class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
        >
          <div>
            <h3 class="mb-2 text-xl font-bold">Diagetic</h3>
            <p class="text-gray-500 dark:text-gray-400">
              SewCraft is meant to be immersive and challenging. I want players
              to have to think to survive. There is no `/home` command on the
              server. You must use <a
                href="https://modrinth.com/mod/homebound-mod">physical items</a
              > to teleport yourself home, as well as to teleport from place-to-place
              using waystones. Many mods have create-themed resource packs to fit
              into the tech-theme of the pack. Even Selling items is diagetic and
              must be done with Create contraptions. Don't join if you don't enjoy
              a challenge!!
            </p>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-bold">Integrated</h3>
            <p class="text-gray-500 dark:text-gray-400">
              I've gone through great lengths (as always) to make the in-game
              and discord chat as beautiful as possible. Your Discord rank
              automatically syncs to the server after you run `/discord link`
              in-game, and you'll receive any benefits as such. You’re also able
              to view other players stats (WIP) on my website. More stats to
              come over time! Currently you can view playtime, last join time,
              and thier balance.
            </p>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-bold">Really Fun</h3>
            <p class="text-gray-500 dark:text-gray-400">
              I’ve added a cavalcade of fun and interesting mods to this
              modpack, and I’ve actually made a try at cohesion this time around
              instead of just throwing the kitchen sink at it, and I really
              think it’s paid off. Everything feels polished and I’m not even
              done yet. This is essentially an alpha-release of the pack. *no
              world reset is coming, only pack improvements*
            </p>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-bold">Unique Land Claim</h3>
            <p class="text-gray-500 dark:text-gray-400">
              The server features
              <a href="https://modrinth.com/mod/open-parties-and-claims">OPAC</a
              > for the land claiming mod. There’s a catch, however; OPAC will only
              protect your land from being griefed (e.g. your blocks being destroyed).
              Your doors and storages are wide open - it’s up to **you** to secure
              them using
              <a href="https://modrinth.com/mod/security-craft">SecurityCraft</a
              >. Lock your doors behind keycards, use booby traps, and so much
              more. Get creative. Your items are your own responsiblity!
            </p>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-bold">Economy</h3>
            <p class="text-gray-500 dark:text-gray-400">
              Our economy is in the form of *gears* from the <a
                href="https://modrinth.com/mod/numismatics"
                >Create: Numismatics</a
              > mod. Our economy, however, is handled by an economy plugin on the
              spigot side of the server…this means your *physical* holdings are also
              allowed to exist in a *virtual* account. This provides unique oppurtunities
              for trading/shops. You can trade physically with a player, over a distance
              with commands, or in an actual shop that someone has out of Create
              mod components.
            </p>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-bold">Performance</h3>
            <p class="text-gray-500 dark:text-gray-400">
              The server is running on a dedicated machine with 64gb RAM, a
              Ryzen 5 5600G with 12 cores, and an SSD. We run on bare metal, no
              virtual server here! Also running the latest Forge optimization
              mods. Expect great performance during your time playing on the
              server.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--bg-[url(https://cms.divnectar.com/uploads/sewdohe_island_5c569a9140.png)]-->
    <section class="flex align-middle bg-ctp-crust items-center py-8">
      <div class="flex flex-col items-center justify-center w-full h-full">
        <img
          class="h-40"
          src="https://cms.divnectar.com/uploads/sewcraft_logo_a57fd33e43.png"
        />
        <h1
          class="text-5xl w-full text-center font-extrabold text-ctp-text opacity-75"
        >
          Start Playing Today!
        </h1>
        <a href="https://info.divnectar.com/books/sewcraft/page/connecting">
          <div
            class="my-4 p-2 rounded-md bg-ctp-teal font-extrabold text-ctp-crust hover:scale-110 transition-all duration-150 cursor-pointer"
          >
            Connect Now
          </div>
        </a>
      </div>
    </section>
    <section
      class="flex bg-ctp-mantle py-6 md:py3 align-middle items-center page-divider-wavy min-h-[600px] bg-[url(https://cms.divnectar.com/uploads/bluemap_screenshot_40a3c871d0.png)] bg-cover bg-center bg-no-repeat"
    >
      <div class="flex items-center justify-center w-full h-full">
        <div
          class="flex-col bg-black bg-opacity-35 p-8 rounded-xl flex justify-center align-middle"
        >
          <h1 class="text-5xl w-full text-center font-extrabold text-white">
            SewCraft Map
          </h1>
          <a href="https://map.divnectar.com" class="max-w-32">
            <div
              class="my-4 p-2 rounded-md bg-ctp-teal font-extrabold text-ctp-crust hover:scale-110 transition-all duration-150 cursor-pointer"
            >
              View Live Map
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
</Layout>

<style>
  a {
    color: mediumpurple;
  }
</style>
