---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";

const title = "DivNectar";
const description = "Your second (sky) home";
const image = {
  url: "https://cms.divnectar.com/uploads/server_icon_686764a1c7.png",
  alt: "SkyNectar Logo",
};
---

<Layout title={title} direction="col" description={description} image={image}>
  <section class="divider_wavy_bubbles pb-10 md:py-8">
    <div class="py-8 px-4 mx-auto text-center lg:py-16 lg:px-12">
      <a
        href="/minecraft/players"
        class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-ctp-subtext1 bg-ctp-crust rounded-full hover:bg-ctp-mantle"
        role="alert"
      >
        <span
          class="text-xs bg-ctp-mauve rounded-full text-white px-4 py-1.5 mr-3"
          >New!</span
        >
        <span class="text-sm font-medium">Check the player glossary</span>
        <svg
          class="ml-2 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path></svg
        >
      </a>
      <a
        href="https://cms.divnectar.com/uploads/Craft_Nectar_Skyblock_Performance_c788e0b65c.zip"
        class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-ctp-subtext1 bg-ctp-crust rounded-full hover:bg-ctp-mantle"
        role="alert"
      >
        <span
          class="text-xs bg-ctp-mauve rounded-full text-white px-4 py-1.5 mr-3"
          >New!</span
        >
        <span class="text-sm font-medium">Download offical client modpack</span>
        <svg
          class="ml-2 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path></svg
        >
      </a>
      <div class="flex w-full justify-center">
        <Icon
          name="line-md:cloud-alt-twotone"
          class="w-8 h-8 text-ctp-text font-4xl ml-3 self-end"
        />
        <h1
          class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-ctp-peach md:text-5xl lg:text-6xl"
        >
          CraftNectar
        </h1>
        <Icon
          name="line-md:cloud-alt-twotone"
          class="w-8 h-8 text-ctp-text font-3xl ml-3"
        />
      </div>
      <p
        class="mb-8 text-lg font-normal lg:text-xl sm:px-16 xl:px-48 text-gray-400"
      >
        CraftNectar aims to bring you the cleanest and most rewarding Minecraft experience - and we'd like you to enjoy it equally
        no matter where you are. We have a dedicated server with 64GB of RAM and a Ryzen 5 5600G CPU, so you can enjoy the game without any lag or interruptions.
        Our server is designed to be as efficient as possible, so you can focus on what really matters: having fun!
      </p>
      <p
        class="mb-8 text-lg font-normal lg:text-xl sm:px-16 xl:px-48 text-gray-400"
      >
        Built from scratch from the ground up - most plugin code is custom (chat formatter, teleports, menus, etc) and what isn't is meticulously tested
        for compatiblity between Java AND Bedrock editions. Play knowing you can access all server features no matter what platform you are on. Access the server from
        Console, PC, or even your phone! We have a custom resource pack that makes the game look like modded Minecraft - but it's all vanilla!
      </p>
      <p
        class="mb-8 text-lg font-normal lg:text-xl sm:px-16 xl:px-48 text-gray-400"
      >
        Choose from 3 races and 9 classes when you start your adventure. Each race and class with change how you play the game. Choose wisely! Each race and class combination puts
        your player into a different niche. Some classes are better at mining, some are better at combat, and some are better at farming. Choose the class that fits your playstyle, and
        learn how to profit from your skills using the server economy! Level your skills as you play, and unlock new abilities as you progress. The more you play, the more powerful you become!
      </p>
      <p
        class="mb-8 text-lg font-normal lg:text-xl sm:px-16 xl:px-48 text-gray-400"
      >
        Claim your nation and build your empire! Build a nation with your friends and claim land to protect it from other players. Build a castle, a farm, or even a city! The possibilities are endless.
        Ally with some nations and fight against others. The land claim plugin supports multiple nations and alliances, so you can build your empire however you want. All supported by GUI menus.
      </p>
      <div
        class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
      >
        <a
          href="https://info.divnectar.com/books/skynectar"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg hover:scale-110 hover:bg-ctp-mantle transition-all duration-100"
          data-umami-event="outbound-link-click"
          data-umami-event-url="https://info.divnectar.com/books/skynectar"
        >
          Visit Wiki
          <Icon
            name="line-md:question-square-twotone"
            class="w-6 h-6 text-ctp-yellow ml-2"
          />
          <Icon name="line-md:arrow-right" class="w-6 h-6 text-ctp-text ml-2" />
        </a>
        <a
          href="/discord"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-ctp-text rounded-lg border focus:ring-4 border-gray-700 hover:bg-gray-700 focus:ring-gray-800"
          data-umami-event="join-discord-click"
        >
          <Icon
            name="line-md:discord-twotone"
            class="w-6 h-6 text-ctp-mauve mr-2"
          />
          Join Discord
        </a>
      </div>
    </div>
  </section>
  <section class="page-divider-wavy bg-ctp-crust">
    <div
      class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36"
    >
      <span class="font-semibold text-4xl text-gray-400 uppercase"
        >FEATURES</span
      >
    </div>
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div
        class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
      >
        <div>
          <h3 class="mb-2 text-xl font-bold">Full Integration</h3>
          <p class="text-gray-500 dark:text-gray-400">
            CraftNectar is fully integrated with both our website and our Discord
            server. View your stats on the website, and chat online with the
            server live in the Discord community. You've never seen server
            integration like this.
          </p>
        </div>
        <div>
          <h3 class="mb-2 text-xl font-bold">Content</h3>
          <p class="text-gray-500 dark:text-gray-400">
            Using <a href="https://github.com/Athlaeos/ValhallaMMO/wiki/Content-Package:-Classic">Valhalla</a> MMO plugin
            we're able to provide a unique and custom experience. With over 10 unique skills for players to progress through,
            and over 100 custom items to collect, you'll never run out of things to do.
          </p>
        </div>
        <div>
          <h3 class="mb-2 text-xl font-bold">Balance</h3>
          <p class="text-gray-500 dark:text-gray-400">
            Robust EXP leveling formulas ensure you don't run through the server
            content. Sit back, releax, and enjoy (the very fufilling grind).
            Enjoy a balanced and exploit-proof economy. Stocks are set daily to
            limit amount of selling/buying on the server to avoid dupes.
          </p>
        </div>
        <div>
          <h3 class="mb-2 text-xl font-bold">Equal Cross Play</h3>
          <p class="text-gray-500 dark:text-gray-400">
            We've gone through great lengths to ensure that all players have the same experience, no matter what platform they are on.
            Weather you choose to connect from your console, PC, or even your phone - you will have the same experience as everyone else, and
            all server features are available to you. Enjoy some Java aspects on Bedrock such as building on the nether roof!
          </p>
        </div>
        <div>
          <h3 class="mb-2 text-xl font-bold">Custom Items</h3>
          <p class="text-gray-500 dark:text-gray-400">
            The server manages and distributes it's own resource pack
            automatically. Simply accept the resource pack on join and revel at
            what looks like modded Minecraft. 6 new weapon types, more armors, and the
            <a href="https://github.com/Athlaeos/ValhallaMMO/wiki/Indepth-Skills:-Smithing">smithing mechanic</a>.
          </p>
        </div>
        <div>
          <h3 class="mb-2 text-xl font-bold">Performance</h3>
          <p class="text-gray-500 dark:text-gray-400">
            Running on a dedicated machine with 64gb RAM and a AMD Ryzen 5 5600G
            the server is prepared for a huge playerbase. Also running the
            latest Paper server version for maximum performance.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section
    class="flex align-middle divider-wavy-bottom bg-ctp-mantle items-center min-h-[600px] bg-[url(https://cms.divnectar.com/uploads/sewdohe_island_5c569a9140.png)] bg-cover bg-center bg-no-repeat"
  >
    <div class="flex flex-col items-center justify-center w-full h-full">
      <h1
        class="text-5xl pt-32 w-full text-center font-extrabold text-ctp-text opacity-75"
      >
        Start Playing Today!
      </h1>
      <a href="https://info.divnectar.com/books/skynectar/page/how-to-connect">
        <div
          class="my-4 p-2 rounded-md bg-ctp-teal font-extrabold text-ctp-crust hover:scale-110 transition-all duration-150 cursor-pointer"
        >
          Connect Now
        </div>
      </a>
    </div>
  </section>
  <section
    class="flex bg-ctp-mantle py-6 md:py3 align-middle items-center page-divider-wavy min-h-[600px] bg-[url(https://cms.divnectar.com/uploads/bluemap_screenshot_40a3c871d0.png)] bg-cover bg-center bg-no-repeat"
  >
    <div class="flex flex-col items-center justify-center w-full h-full">
      <h1
        class="text-5xl pt-32 w-full text-center font-extrabold text-ctp-text opacity-75"
      >
        CraftNectar Map
      </h1>
      <a href="https://map.divnectar.com">
        <div
          class="my-4 p-2 rounded-md bg-ctp-teal font-extrabold text-ctp-crust hover:scale-110 transition-all duration-150 cursor-pointer"
        >
          View Live Map
        </div>
      </a>
    </div>
  </section>
</Layout>
