---
import Layout from '../layouts/Layout.astro';

const title = "SkyNectar";
const description = 'SkyNectar - ultimate skyblock experiene.'
const image = {
	url: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
	alt: "SkyNectar Logo",
}

---

<Layout title={title} description={description} image={image}>
    <h1>SkyNectar</h1>
</Layout>