---
import Layout from "../layouts/Layout.astro";

const title = "DivNectar";
const description = "DivNectar - FOSS software and the Minecrafts.";
const image = {
  url: "https://divnectar.com/skynectar-logo.png",
  alt: "SkyNectar Logo",
};
---

<Layout title={title} description={description} image={image}>
  <p>
    SkyNectar aims to bring you a top-notch and polished Minecraft vanilla+
    experience. Ripe with things to do and daily content, SkyNectar is prepared
    to be your new home and provide you with countless hours of experiences and
    fun!
  </p>
  <a href="/players">Player Glossary</a>
</Layout>
