---
import Login from "../components/Login.astro";
import Layout from "../layouts/Layout.astro";

const title = "DivNectar - User";
const description = 'view your profile'
const image = {
	url: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
	alt: "DivNectar Logo",
}
---

<Layout title={title} description={description} image={image}>
    <div class="flex flex-col items-center">
        <h1 class="text-4xl font-bold">User</h1>
        <p class="text-lg">This is the user page.</p>
        <Login />
    </div>
</Layout>