---
import Layout from "../layouts/Layout.astro";
---
<button id="login">Login with Discord</button>

 <script>
    document.getElementById('login')!.addEventListener('click', () => {
        window.location.href = 'https://backend.divnectar.com/api/oauth/discord';
    });
 </script>