---
import Layout from "../layouts/Layout.astro";
---
 <a href="https://discord.com/oauth2/authorize?client_id=1311066279687360643&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4321%2Fauth&scope=identify+guilds+email+guilds.members.read"><button id="login">Login with Discord</button></a> 
