---
var { icon, skill, skillName } = Astro.props;
---

<div class="flex mcfont flex-row align-middle justify-center items-center bg-ctp-crust border-ctp-mauve p-4 rounded-xl">
    <div class={`icon-32 ${icon} mr-2`} />
		<span class="font-extrabold">{skillName}</span> Level <span class="ml-2 text-2xl">{skill}</span>
</div>