---
import Layout from "./Layout.astro";
const { article } = Astro.props;
import BlogPostingJSONLD from "../components/BlogPostingJSONLD.astro";

console.log("title:", article.title);
const image = {
    url: import.meta.env.STRAPI_URL + article.cover.url,
    alt: article.cover.alternativeText,
};
console.log('blogpost OG image:', image.url)
---

<Layout title={article.title} description={article.description} image={image}>
    <BlogPostingJSONLD slot="head" {...article} />
    <div id="page-content" class="mx-4 md:mx-6 prose prose-md md:prose-2xl prose-catpuccin text-ctp-text">
        <slot />
    </div>
</Layout>
