---
import Layout from "./Layout.astro";
const { article } = Astro.props;

console.log("title:", article.title);
const image = {
    url: "https://cms.divnectar.com/uploads" + article.cover.url,
    alt: article.cover.alternativeText,
};
---

<Layout title={article.title} description={article.description} image={image}>
    <div id="page-content" class="mx-4 md:mx-6">
        <slot />
    </div>
</Layout>
