---
import Layout from "./Layout.astro";
const { article } = Astro.props;
import BlogPostingJSONLD from "../components/BlogPostingJSONLD.astro";
import Comments from "../components/Comments.astro";
import TableOfContents from "../components/TableOfContents.astro";

console.log("title:", article.title);
const image = {
    url: article.cover.url,
    alt: article.cover.alternativeText,
};
console.log('blogpost OG image:', image.url)
---

<Layout title={article.title} description={article.description} image={image}>
    <BlogPostingJSONLD slot="head" {...article} />
    <div class="mx-auto max-w-7xl px-4 pt-0 md:px-6">
        <div class="flex flex-col md:flex-row">
            <!-- Main content -->
            <article id="page-content" class="flex-1 min-w-0 prose prose-xl max-w-none prose-catpuccin overflow-x-hidden">
                <slot />
                <Comments title={article.title} />
            </article>

            <!-- Table of Contents - sidebar on desktop, top on mobile -->
            <aside class="md:w-64 flex-shrink-0 order-first md:order-last">
                <TableOfContents />
            </aside>
        </div>
    </div>
</Layout>
